<h2>{{title}}</h2>
<form (ngSubmit)="save()" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Veiculo</mat-label>
    <input formControlName="veiculo" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Marca</mat-label>
    <mat-select formControlName="marca">
      <mat-option *ngFor="let brand of brands" [value]="brand">{{brand}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Ano</mat-label>
    <mat-select formControlName="ano">
      <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea formControlName="descricao" matInput></textarea>
  </mat-form-field>

  <br>
  <div id="vendidoCheck">
    <mat-checkbox formControlName="vendido">Vendido</mat-checkbox>
  </div>

  <br>
  <div class="actions">
    <a routerLink=".." mat-stroked-button color="warn">Cancelar</a>
    <button mat-stroked-button color="primary">Salvar</button>
  </div>
</form>

<testetinnova-load-feedback *ngIf="isLoading">
</testetinnova-load-feedback>
